
.container{ width: 750px; }
.col-xs-4, .col-md-4{padding: 0;margin: 0;}
.col-xs-4{
  padding-left: 0px;
  padding-right: 0px;
}

.col-xs-4 a{
  margin-bottom: 0px;
}

.container {
  margin-top: 40px;
}